* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  font-family: "bungee", sans-serif;
  background-color: rgb(115, 186, 115, 0.5);
  font-size: 32px;
  color: rgb(8, 43, 8);
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100vw;
  /* max-height: 10%; */
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  z-index: 5;
}

body {
  background-image: url("https://64.media.tumblr.com/6b9040d2353a06211f4ab647872569fb/8c932cb66fd8c5a1-c1/s540x810/6cdc6e2ec577206862484fb1ddb31d460ab0a72d.pnj");
  background-attachment: fixed;
}

#logo {
  text-decoration: none;
}

#logo:hover {
  text-shadow: 2px 2px 4px rgb(69, 222, 95);
  color: rgb(8, 43, 8);
}

nav {
  font-size: 2vh;
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
}

a {
  text-decoration: none;
  color: rgb(8, 43, 8);
}

a:hover {
  text-decoration: underline;
  color: rgb(24, 108, 24);
  text-shadow: 2px 2px 4px rgb(69, 222, 95);
}

footer {
  font-family: "nata sans", sans-serif;
  background-color: rgb(115, 186, 115, 0.5);
  color: rgb(8, 43, 8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}

h3 {
  padding-left: 10px;
}

h4 {
  padding-right: 10px;
}

#home {
  /* background-image: url("https://64.media.tumblr.com/6b9040d2353a06211f4ab647872569fb/8c932cb66fd8c5a1-c1/s540x810/6cdc6e2ec577206862484fb1ddb31d460ab0a72d.pnj"); */
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.welcome-msg {
  position: absolute;
  background-color: rgb(115, 186, 115, 0.5);
  width: 40%;
  height: fit-content;
  font: 5vh "bungee", sans-serif;
  color: rgb(8, 43, 8);
  text-align: center;
  border-radius: 20px;
  text-shadow: 2px 2px 4px rgb(69, 222, 95);
  box-shadow: 0 5px 10px 0 rgba(69, 222, 95, 0.8),
    0 8px 25px 0 rgba(69, 222, 95, 0.6);
}

.welcome-msg:hover {
  box-shadow: 0 5px 10px 0 rgba(69, 222, 95, 0.8),
    0 8px 25px 0 rgba(69, 222, 95, 0.6);
  box-shadow: 0 5px 10px 0 rgba(244, 118, 14, 0.8),
    0 8px 25px 0 rgba(198, 124, 20, 0.6);
  text-shadow: 4px 4px 6px rgba(244, 162, 46, 0.6);
}

#about {
  width: 90vw;
  min-height: 100vh;
  background-color: rgb(21, 94, 63);
  justify-self: center;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

#about-img-left {
  height: 50vh;
  width: auto;
  padding-top: 2vh;
  padding-left: 1vw;
  align-self: flex-start;
  /* border: 10px solid rgb(21, 94, 63); */
  /* padding-left: 25px;
  padding-top: 20px; */
}

#about-img-right {
  height: auto;
  width: 20vw;
  position: relative;
  right: 8vw;
  z-index: 1;
  bottom: 10vh;
  /* justify-self: flex-end;
  align-self: flex-end; */
  /* padding-right: 25px; */
}

#overlap-rat {
  position: absolute;
  /* padding-top: 6vh;
  padding-left: 10vw; */
  left: -4vw;
  top: -20vh;
}

#overlap-rat::first-letter {
  font-size: 8vh;
  color: rgb(235, 121, 45);
}

#overlap-snail {
  position: absolute;
  width: 110%;
  top: 8vh;
  text-align: center;
  z-index: 2;
}

#non-overlap {
  position: relative;
  margin-top: 40vh;
  width: 85vw;
  align-self: center;
  text-overflow: wrap;
  /* right: 10vh; */
}

.about-text {
  font-family: "nata sans", sans-serif;
  font-weight: 900;
  font-size: 5vh;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60vw;
}

span {
  font-family: "bungee";
  color: rgb(235, 121, 45);
}

#digipets-section {
  width: 90vw;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: rgb(21, 94, 63);
  justify-self: center;
  height: fit-content;
}

#digipets {
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#digipets-title {
  font-family: "bungee", sans-serif;
  font-size: 5vh;
  color: rgb(235, 121, 45);
  padding-bottom: 30px;
  padding-left: 20px;
}

.pet {
  position: relative;
}

.digimg {
  width: auto;
  height: 40vh;
  display: block;
  border-radius: 10px;
  border: 10px solid rgb(235, 121, 45);
}

.digimg:hover {
  cursor: pointer;
  box-shadow: 0 0 20px rgba(252, 169, 4, 0.8), 0 0 35px rgba(198, 124, 20, 0.6);
}

.names {
  font-family: "bungee", sans-serif;
  color: rgb(235, 121, 45);
  text-shadow: 10px 0px 10px rgb(58, 29, 12);
  position: absolute;
  bottom: 8px;
  padding-left: 20px;
}
